# ========================================
#  Pins
# ========================================

# status LED
set_io p_led_sts_r 93
set_io p_led_sts_g 94
# in1-2 LED
set_io p_led_in1_r 24
set_io p_led_in2_r 25
set_io p_led_in2_g 26
set_io p_led_in1_g 28
# in3-4 LED
set_io p_led_in3_r 29
set_io p_led_in4_r 31
set_io p_led_in4_g 32
set_io p_led_in3_g 33

# ADC1-2
set_io p_adc_sclk 15
set_io p_adc_sdata[0] 16
set_io p_adc_sdata[1] 17
set_io p_adc_cs_n[0] 18

#set_io p_adc_sclk_gbin 20
set_io p_adc_sdata[2] 21
set_io p_adc_sdata[3] 22
set_io p_adc_cs_n[1] 23

# External I/O
set_io p_extio[8] 34
set_io p_extio[7] 37
set_io p_extio[6] 38
set_io p_extio[5] 39
set_io p_extio[4] 41
set_io p_extio[3] 42
set_io p_extio[2] 43
set_io p_extio[1] 44

# SPI DAC
set_io p_spi_dac_mosi 45
set_io p_spi_dac_sclk 47
set_io p_spi_dac_sync_n 48

# System clocks
set_io p_clk_20mhz_gbin1 49
set_io p_clk_20mhz_gbin2 52
set_io p_clk_out 55
set_io p_clk_ref_in 56
set_io p_clk_out_sel 60

# FTDI GPIO
set_io p_ft_io1 64
set_io p_ft_io2 63

# FTDI FIFO
set_io p_ft_fifo_oe_n 73
set_io p_ft_fifo_clkout 74
set_io p_ft_fifo_siwu_n 75
set_io p_ft_fifo_wr_n 76
set_io p_ft_fifo_rd_n 78
set_io p_ft_fifo_txe_n 79
set_io p_ft_fifo_rxf_n 80
set_io p_ft_fifo_d[7] 81
set_io p_ft_fifo_d[6] 82
set_io p_ft_fifo_d[5] 83
set_io p_ft_fifo_d[4] 84
set_io p_ft_fifo_d[3] 85
set_io p_ft_fifo_d[2] 87
set_io p_ft_fifo_d[1] 88
set_io p_ft_fifo_d[0] 90

# QSPI flash
#set_io p_qspi_sclk 70
#set_io p_qspi_cs 71
#set_io p_qspi_mosi_io0 67
#set_io p_qspi_miso_io1 68
#set_io p_qspi_io2 62
#set_io p_qspi_io3 61

# TODO: SRAM

# ========================================
#  Clocks
# ========================================

# Input clock pins
set_frequency p_clk_20mhz_gbin1         20
set_frequency p_clk_20mhz_gbin2         20
set_frequency p_clk_ref_in              20
set_frequency p_ft_fifo_clkout          60
